.filters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filters-container--date {
    font-size: 0.9rem;
}

.filters-container--leagues {
    font-size: 0.9rem;
}

.filters-container--search {
    font-size: 0.9rem;
}

@media (width <=768px) {
    .filters-container--date {
        font-size: 0.8rem;
    }

    .filters-container--leagues {
        font-size: 0.8rem;
    }

    .filters-container--search {
        font-size: 0.8rem;
    }
}

@media (width <=480px) {
    .filters-container--date {
        width: 100%;
    }

    .filters-container--leagues {
        width: 100%;
    }

    .filters-container--search {
        width: 100%;
    }
}